* {
    box-sizing: border-box;
}

body {
    background-image: url('./assets/pexels-quang-nguyen-vinh-2165688.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* height: 100vh; */
}

.image-logo {
    width: 70px;
    height: 70px;
    margin-top: 0px;
    margin-left: 5px;
    margin-right: 10px;
}


.nav-container {
    display: flex;
    justify-content: space-between;
}

.nav-links {
    font-size: 20px;
    margin-top: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.right-links {
    margin-top: 25px;
    font-size: 20px;
}

a {
    padding: 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-top: 20px;
    position: relative;
}

/* a:hover {
    font-size: 25px;
    border-bottom: 3px solid white;
    width: 100px;
    
} */

button {
    background-color: white;
    width: 80px;
    height: 50px;
    border-radius: 20px;
    border: none;
}

.hover-effect:after {
    content: "";
    position: absolute;
    height: 3px;
    width: 0;
    bottom: -3px;
    right: 0px;
    transition: all 300ms ease;
}

.hover-effect:hover:after {
    content: "";
    width: 100px;
    left: 0;
}

.hover-effect_black:after {
    background-color: white;
}

.hover-effect_black:hover:after {
    width: 100%;
    left: 0;
}

